# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
dev-dist
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Flutter
gatto_app/.dart_tool/
gatto_app/.flutter-plugins
gatto_app/.flutter-plugins-dependencies
gatto_app/build/
gatto_app/.idea/
gatto_app/android/.gradle/
gatto_app/android/build/
gatto_app/android/local.properties
gatto_app/android/app/debug
gatto_app/android/app/profile
gatto_app/android/app/release
*.iml

# Raspberry
robot/__pycache__/
robot/**/__pycache__/
*.pyc
robot/gatto-hotspot/*.log
