[Unit]
Description=G.A.T.T.O. hotspot always on
After=NetworkManager.service
Wants=NetworkManager.service
StartLimitIntervalSec=300
StartLimitBurst=3

[Service]
Type=simple
User=gatito
Restart=always
RestartSec=20
ExecStart=/home/gatito/gatto-hotspot/run.sh
ExecStop=/home/gatito/gatto-hotspot/stop.sh

[Install]
WantedBy=multi-user.target
